.d-flex--align-center {
    display: flex;
    align-items: center;
}

// card-footer
// padding pagination
.p-pagination {
    padding: 8px 15px !important;
}

// padding
.pr-5px {
    padding-right: 5px;
}


// pagination
.pagination .disabled {
    cursor: not-allowed;
}

// table
// td middle
.table-td-middle tbody td {
    vertical-align: middle;
}

// button
button:focus {
    outline: none !important;
}