* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SF Regular';
    // src: url('./../../fonts/SF-UI-Display-Regular.otf');
    src: url('/assets/fonts/SF-UI-Display-Regular.otf');
    src: url('/assets/fonts/SF-UI-Display-Regular.otf');
    src: url('/assets/fonts/SF-UI-Display-Regular.otf') format('opentype')
}

@font-face {
    font-family: 'SF Medium';
    src: url('/assets/fonts/SF-UI-Display-Medium.otf');
    src: url('/assets/fonts/SF-UI-Display-Medium.otf') format('opentype')
}

@font-face {
    font-family: 'SF Text Regular';
    src: url('/assets/fonts/SF-UI-Text-Regular.otf');
    src: url('/assets/fonts/SF-UI-Text-Regular.otf') format('opentype')
}

@font-face {
    font-family: 'SF Text Medium';
    src: url('/assets/fonts/SF-UI-Text-Medium.otf');
    src: url('/assets/fonts/SF-UI-Text-Medium.otf') format('opentype')
}

@font-face {
    font-family: 'Gotham Ultra';
    // src: url('./../fonts/Gotham-Ultra.otf');
    // src: url('./../fonts/Gotham-Ultra.otf') format('opentype')
    src: url('/assets/fonts/Gotham-Ultra.otf');
    src: url('/assets/fonts/Gotham-Ultra.otf') format('opentype');
}

html, body {
    background-color: #fff;
	font-family: 'SF Text Regular', sans-serif;
    @include styleText($fs-0, $fw-normal, $color-black-0);
    line-height: $line-height-0;
}

.noscroll { overflow: hidden; }

.mainMaxWidth {
    max-width: 940px;
    float: none;
    margin: auto;
    clear: both;
}

.slick-slide {
    outline: none
}

.session-main {
    padding-bottom: 40px;
}

// ageType
.ageType {
    font-size: 14px;
    background-color: $color-primary-1;
    border-radius: 4px;
    padding: 0 5px;
    color: $color-white-1;
    min-width: 33px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;

    &-general {
        background-color: $color-green-1;
    }
}

// Trailer Modal
.trailerModal {
    .modal-content {
        background-color: transparent;
        border: none;
    }

    .modal-body {
        padding: 0;

        .closeBtn {
            position: absolute;
            top: -20px;
            right: -20px;
            height: 40px;
            width: 40px;

            // background-image: url('/assets/img/icon/close.png');
            background-image: url('/assets/img/icon/close.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            
            outline: none;
            opacity: 1;
            z-index: 2;
    
            &:hover {
                opacity: .7;
            }
        }

        iframe {
            height: 450px;
            width: 100%;
        }
    }
}



// Loading
// .loader {
//     position: absolute;
//     top: calc(50% - 4em);
//     left: calc(50% - 4em);
//     width: 6em;
//     height: 6em;
//     border: 1.1em solid rgba(0, 0, 0, 0.2);
//     border-left: 1.1em solid #000000;
//     border-radius: 50%;
//     animation: load8 1.1s infinite linear;
//     transition: opacity 0.3s;
// }

// .loader--hide {
//     opacity: 0;
// }

// @keyframes load8 {
//     0% {
//         transform: rotate(0deg);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }