footer {
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $color-gray-4;



    .footer__links {
        .title {
            color: $color-white-1;
            font-size: 80%;
            text-transform: uppercase;
        }

        .footer__tix {
            a {
                font-size: 12px !important;
                font-size: 80%;
                font-weight: 700;
                white-space: nowrap;
                color: $color-gray-4;
                display: block;
                transition: all .2s;
                line-height: 2.3;
                text-decoration: none;
                transition: all $transition-time-0 ease;

                &:hover {
                    text-decoration: none;
                    color: $color-white-1;
                }
            }
        }

        .linePartner {
            margin-bottom: 15px;
            padding-left: 0;
            padding-right: 0;

            a {
                text-decoration: none;
                transition: all $transition-time-0 ease;

                &:hover {
                    opacity: 0.8;
                }

                img {
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    margin-right: 15px;
    
                    &.bg-white {
                        background-color: $color-white-1;
                    }
                }
            }
        }

        .iconApp {
            background: 0 0;
            height: 30px;
            width: auto;
            margin: 5px;
        }

        // Hide footer__links responsive
        .hideOnMobile {
            @include responsive('large') {
            & {
                display: none;
            }
        }
        }
    }

    .hrFooter {
        border-top: 1px solid $color-gray-3;
    }

    .footer__info {
        margin: 0;

        >* {
            padding: 0;
        }

        .footer__logo {
            text-align: center;
            
            img {
                width: 80px;
                border-radius: 8px;
                height: auto;
                margin-bottom: 10px;
            }
        }

        .imgBoCongThuong {
            width: 130px;
        }

        span {
            display: block;
            line-height: 1.8;
            color: $color-gray-4;
            font-size: 12px;
            font-weight: 400;

            &:first-child {
                color: $color-white-1;
            }

            a {
                text-decoration: none;
                color: $color-primary-1;
                &:hover {
                    color: $color-white-1;
                }
            }
        }
    }

}