.homeApp {
    padding: 120px 0 80px 0;
    background: url('/assets/img/icon/backapp.jpg');
    background-size: contain;
    color: $color-white-1;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .left__content {
            .textLeft {
                color: $color-white-1;
                font-weight: 700;
                font-size: xx-large;
                margin-bottom: 5px;
            }
    
            .textSmallLeft {
                color: $color-white-1;
                font-size: medium;
            }
    
            .buttonLeft {
                text-decoration: none;
                background-color: $color-primary-1;
                padding: 10px 20px;
                color: $color-white-1;
                font-size: medium;
                font-weight: 700;
                border: none;
                border-radius: 4px;
                outline: none;
            }
            
            .textAppUnder {
                color: $color-white-1;
                padding-top: 10px;
                a {
                    color: $color-white-1;
                    text-decoration: underline;
                    margin: 0 5px;
                    transition: all $transition-time-0 ease;
    
                    &:hover {
                        color: $color-primary-1;
                    }
                }
            }
        }
    }

    .right {
        position: relative;
        padding: 0;

        .img-responsive {
            padding: 0 28%;
            display: block;
            max-width: 100%;
            height: auto;
        }

        #homeApp__slides, .homeApp__slides {
            position: absolute;
            padding: 1.5% 29.3% 0 29.3%;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 10px;

            .slick-list {
                border-radius: 22px;
            }
        
            img {
                width: 100%;
            }
        }
    }
}