.cinemaComplex {
    .cinemaComplex__content {
        padding-top: 120px;
        // background: url('./../../../../public/assets/img/icon/back-news.png');
        background: url('/assets/img/icon/back-news.png');
        background-size: 100%;
        background-repeat: no-repeat;

        display: flex;

        #parentListPCinemas {
            background-color: $color-white-1;
            max-height: 705px;
            width: 92px;
            border: 1px solid #ebebec;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            transition: all $transition-time-0 ease;

            display: flex;
            justify-content: center;

            a {
                position: relative;
                transition: all $transition-time-0 ease;
                padding: 20px;

                img {
                    opacity: 0.5;
                    width: 50px;
                    filter: grayscale(100%);
                    transition: all $transition-time-0 ease;

                    &:hover {
                        opacity: 1;
                        filter: grayscale(0%);
                    }
                }
                
                &.active img {
                    opacity: 1;
                    filter: grayscale(0%);
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: calc(100% - 40px);
                    transform: translateX(-50%);
                    border-bottom: 1px solid #fff;
                    border-color: rgba(238,238,238,.88);
                }

                &:last-child::after {
                    display: none;
                }
            }
        }

        #listCinemas {
            background-color: $color-white-1;
            // min-height: 705px;
            height: 705px;
            border-top: 1px solid #ebebec;
            border-bottom: 1px solid #ebebec;
            width: 30%;
            // overflow-y: hidden;
            // overflow-x: hidden;
            // overflow: auto;
            overflow-y: auto;
            
            &::-webkit-scrollbar {
                width: 10px;
                color: red;
            }

            .cinema {
                padding: 15px;
                padding-left: 20px;
                float: left;
                clear: both;
                width: 100%;
                position: relative;
                opacity: 0.5;
                cursor: pointer;
                transition: all $transition-time-0 ease;

                &:first-child {
                    padding-top: 20px;
                }

                &:hover, &.active {
                    opacity: 1;
                }

                img {
                    width: 50px;
                    float: left;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: calc(100% - 40px);
                    transform: translateX(-50%);
                    border-bottom: 1px solid $color-white-1;
                    border-color: rgba(238,238,238,.88);
                }

                &:last-child::after {
                    display: none;
                }

                .wrapInfo {
                    padding-left: 60px;

                    span {
                        display: block;
                        line-height: 1.4;
                    }

                    .nameMovieCinema {
                        
                        font-size: $fs-0;
                        color: $color-black-0;

                        .colorCinema {
                            display: inline;
                            color: $color-primary-1;
                        }
                    }

                    .infoMovieCinema {
                        font-size: $fs--2;
                        color: $color-gray-4;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .showingDetailCinema {
                        a {
                            color: $color-primary-1;
                            font-size: $fs--2;
                        }
                    }
                }
            }
        }

        #listMovies {
            background-color: $color-white-1;
            float: left;
            // min-height: 705px;
            height: 705px;
            width: calc(100% - 30% - 92px);
            border: 1px solid #ebebec;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;

            .wrapMovie {
                float: left;
                clear: both;
                padding-bottom: 17px;
                padding-top: 20px;
                padding-right: 15px;
                padding-left: 20px;
                width: 100%;
                position: relative;
                margin-bottom: 0;
                border: none;
                box-shadow: none;
                -webkit-box-shadow: none;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: calc(100% - 40px);
                    transform: translateX(-50%);
                    border-bottom: 1px solid #ccc;
                    border-color: rgba(238,238,238,.88);
                }

                &:last-child:after {
                    display: none;
                }

                .movieInfo {
                    float: left;
                    clear: both;
                    cursor: pointer;
                    width: 100%;

                    .movieImage {
                        width: 50px;
                        float: left;
                        height: 50px;
                        object-fit: cover;
                    }
                    
                    .wrapInfo {
                        width: 100%;
                        padding-left: 65px;
                        padding-top: 6px;

                        .movieTitle {
                            font-size: $fs-0;
                            font-family: 'SF Medium';
                            line-height: 22px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: $color-black-0;
                        }

                        p {
                            margin: 0;
                            line-height: 1.7;
                            font-size: $fs--2;
                            color: $color-gray-1;
                        }
                    }   
                }

                .movieSessions {
                    float: left;
                    clear: both;
                    width: 100%;
                    transition: height .3s ease-in-out;

                    .listTypeTime {
                        float: left;
                        width: 100%;
                        padding-top: 15px;

                        .s-version {
                            float: left;
                            width: 100%;
                            font-family: 'SF Medium';
                            font-size: 16px;
                            color: $color-black-0;
                            margin-bottom: 5px;
                        }

                        .session {
                            cursor: pointer;
                            width: calc(25% - 10px);
                            float: left;
                            font-family: 'SF Medium';
                            font-size: $fs-0;
                            font-weight: 400;
                            margin: 0 10px 10px 0;
                            padding: 5px 0;
                            transition: all .2s;
                            text-decoration: none;
                            display: block;
                            text-align: center;
                            background-color: rgba(246,246,246,.5);
                            border-radius: 7px;
                            color: $color-gray-4;
                            border: 1px solid #e4e4e4;

                            .s-start-time {
                                font-size: $fs-2;
                                font-weight: 500;
                                color: $color-green-1;
                            }

                            &:hover {
                                .s-start-time {
                                    color: $color-primary-1;
                                }
                            }
                        }
                    }
                }
            }

            
        }

        @include responsive('medium') {
            flex-direction: column;

            #listCinemas {
                width: 100%;
            }

            #listMovies {
                width: 100%;
            }
        }
    }
}