.signin {
    width: 100%;
    height: 100vh;
    min-height: 378px;
    // margin-top: 60px;
    background-image: url('/assets/img/icon/bg2.jpg');
    background-size: contain;
    background-position: center;

    position: relative;

    &__wrapper {
        // max-width: 360px;
        // width: 390px;
        width: 444px;
        padding: 40px 32px 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(to bottom, rgba(20, 50, 93, .9), rgba(8, 22, 48, .9));
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .45);
        
        color: #fff;
        border-radius: 6px;

        .header {
            text-align: center;
            margin-bottom: 39px;

            &__logo {
                width: 59px;
                height: auto;
                margin-bottom: 10px;
            }

            h1 {
                font-family: "SF Medium";
                font-size: 2rem;
            }
        }

        form { 
            input {
                outline: none;
                border: none;
            }

            input:focus {
                // box-shadow: 0px 0px 10px rgba(250, 250, 250, 1) !important;
                box-shadow: 0px 0px 20px rgba(126, 211, 33, 1)!important;
                // box-shadow: 0px 0px 20px rgba(251, 66, 38, 1)!important;
            }

            button[type="submit"] {
                background-color: $color-primary-1;
                outline: none;
                border: none;
                box-shadow: none !important;
                transition: all 0.3s ease;

                &:visited
                , &:focus, &:active
                , &:not(:disabled):not(.disabled):active
                {
                    background-color: $color-primary-1;
                    outline: none;
                    border: none;
                    box-shadow: none !important;
                }

                &:hover {
                    background-color: #F09819;
                }

            }
        }

        .close {
            opacity: 1;
            position: absolute;
            top: -18px;
            right: -18px;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: #081630;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .5);
            content: "";
            cursor: pointer;

            &:before, &:after {
                content: "";
                display: block;
                border-left: 2px solid #455570;
                width: 2px;
                height: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
            }

            &:before {
                transform: translate(-50%,-50%) rotate(-45deg);
            }
            &:after {
                transform: translate(-50%,-50%) rotate(45deg);
            }
        }

        .text__signUp {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
            opacity: 0.6;
            transition: all 0.2s ease-in;

            strong {
                color: $color-primary-2;
                text-decoration: underline;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}