/* body {
  font-size: 16px;
} */

.card-title {
  float: left;
  /* font-size: 1.1rem; */
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}


/* Footer */
.main-footer {
  letter-spacing: 1.5px;
}

/* Navbar */
.admin-dropdown {
  display: flex;
  align-items: center;
}
.admin-avatar {
  width: 30px;
  margin-right: 5px;
}